<div class="container">
  <div class="cardclr">
    <h5>Inclusão do Penhor Agrícola</h5>
    <form action="#" method="post">
      <label><b>Produto</b></label>
      <input class= "me-2" type="text" [value]="produto" disabled>
      <label><b>Cliente</b></label>
      <input class= "me-2" type="text" [value]="cliente" disabled>
      <label><b>Contrato</b></label>
      <input class= "me-2" type="text" [value]="contrato" disabled>
      <label><b>CNPJ</b></label>
      <input class= "me-2" type="text" [value]="cnpj" disabled>
    </form>
  </div>
</div>
