<!-- inclusão Do Penhor -->
<div>
  <div class="container">
      <div class="card">
          <div class="card-body">
              <div class="row pb-0 d-flex justify-content-start">
                  <h5> Inclusão do Penhor Agrícola</h5>
              </div>

              <!-- inclusão Do Penhor -->

              <!-- Tabela/Dados-->

              <table class="table mt-3">
                  <tbody>
                      <div class="row d-flex justify-content-lg-start">
                          <div class="col-3">
                              <tr>
                                  <th scope="row">Produto</th>
                                  <td>12345678889</td>
                                  <th scope="row">Cliente</th>
                                  <td>None</td>
                              </tr>
                          </div>
                          <div class="col-3 ">
                              <tr>
                                  <th scope="row">Contrato</th>
                                  <td>12345</td>
                                  <th scope="row">CNPJ</th>
                                  <td>23456789090</td>
                              </tr>
                          </div>
                      </div>
                  </tbody>
              </table>

          </div>
      </div>
  </div>
</div>
<!-- Tabela/Dados-->
<!-- inclusão Do Penhor -->

