/* Botões */

.buttons {
  text-align: end;
}

.btn {
  margin: 0px 0px 50px 5px;
  transition-duration: 0.4s;
}

.btn:focus {
  border-color: none;
  box-shadow: none;
}

.btn-save {
  background-color: var(--orange);
  color: var(--white);
}

.btn-save:hover {
  background-color: #df6807;
  color: var(--white);
}

.btn-return {
  background-color: var(--gray);
  color: var(--white);
}

.btn-return:hover {
  background-color: #343a40;
  color: var(--white);
}

/* Botões */
