<div class="container">
  <div class="card">
      <div class="card-body">
          <h5>Garantia</h5>
          <form action="#" method="post">
              <label for="fiduciaria">Alienação Fiduciária:</label>
              <select id="fiduciaria" required>
                  <option></option>
                  <option value="1">Caução</option>
                  <option value="2">Penhor</option>
                  <option value="3">Alienação Fiduciária</option>
                  <option value="4">Hipoteca</option>
                  <option value="5">Carta de Fiança</option>
                  <option value="6">Aval</option>
                  <option value="7">Comfort Letter</option>
                  <option value="8">Devedor Solidário</option>
                  <option value="9">Conjuge</option>
                  <option value="10">Cessão Fiduciária</option>
                  <option value="11">Fundo Garantidor de Aval</option>
                  <option value="12">Seguro Garantia ou Assemelhado</option>
                  <option value="13">Seguro e Assemelhado</option>
                  <option value="14">Bens Arrendados</option>
                  <option value="15">Penhor + Acordo de Compensação</option>
                  <option value="16">Strong Comfort Letter</option>
                  <option value="17">Pledge / Assignment Bahamas</option>
                  <option value="18">Pledge / Assignment Outra Juri</option>
                  <option value="19">Vinculação de Contas</option>
                  <option value="20">Derivativo de Crédito CDS</option>
                  <option value="21">Resolução 2921</option>
                  <option value="22">Ativos Vinculados - OFFSHORE</option>
                  <option value="23">Nota Promissória sem aval</option>
                  <option value="24">Cessão Fid + Acordo Compens.</option>
                  <option value="25">Fideicomisso</option>
                  <option value="26">Prenda</option>
                  <option value="27">TESTE SCG</option>
                  <option value="28">Guarantee Letter c/ Benf Ordem</option>
                  <option value="29">Aval Não Exigida</option>
                  <option value="30">Cessão Fiduciária -NÃO EXIGIDA</option>
                  <option value="31">Nota Promissória</option>
                  <option value="32">Contratual</option>
                  <option value="33">StandBy Letter of Credit</option>
                  <option value="34">Termo Vinculação de Receita</option>
                  <option value="35">Penhor Não Exigida</option>
                  <option value="36">Hipoteca Não Exigida</option>
                  <option value="37">Alienação Fiduciária N Exigida</option>
                  <option value="38">Fiducia</option>
                  <option value="39">Fiança c/ Benf. Ordem</option>
                  <option value="40">Trustee</option>
              </select>
              <label for="bem">Bem Garantia Pessoal:</label>
              <select id="bem" required>
                  <option></option>
                  <option value="1">Nota Promissória</option>
                  <option value="2">Duplicatas</option>
                  <option value="3">Cédulas de Crédito</option>
                  <option value="4">Letras de Câmbio</option>
                  <option value="5">Fundos de Investimento</option>
                  <option value="6">Veículos</option>
                  <option value="7">Maquinas e Equipamentos</option>
                  <option value="8">Pecuário</option>
                  <option value="9">Agrícola</option>
                  <option value="10">Cartão</option>
                  <option value="11">Direitos Creditórios</option>
                  <option value="12">Mercadorias</option>
                  <option value="13">Imóvel</option>
                  <option value="14">Cheques</option>
                  <option value="15">Nota de Crédito</option>
                  <option value="16">Ações</option>
                  <option value="17">Cédula de Produto Rural</option>
                  <option value="18">Certificado Tesouro Nacional</option>
                  <option value="19">Warrant e Conhecimento Deposit</option>
                  <option value="20">Debêntures</option>
                  <option value="21">Compromissada</option>
                  <option value="22">Sub Empréstimos</option>
                  <option value="23">Fiança</option>
                  <option value="24">Fiança Bancária</option>
                  <option value="25">Guarantee Letter</option>
                  <option value="26">Standby Letter of Credit</option>
                  <option value="27">Título Público</option>
                  <option value="28">Título Privado</option>
                  <option value="29">Poupança</option>
                  <option value="30">Seguro Fin./Fdos.Garantidores</option>
                  <option value="31">Outros Bens</option>
                  <option value="32">Fundo Garantidor de Aval</option>
                  <option value="33">Seguro Garantia e Assemelhado</option>
                  <option value="34">Seguro e Assemelhado</option>
                  <option value="35">Recibo de Depósito</option>
                  <option value="36">Cotas de Limitada</option>
                  <option value="37">Time Deposit</option>
                  <option value="38">Certificate of Deposit</option>
                  <option value="39">Bond / Commercial Letter</option>
                  <option value="40">Letra Financeira</option>
                  <option value="41">Estoque</option>
                  <option value="42">Aeronaves</option>
                  <option value="43">Embarcações</option>
                  <option value="44">Garantia BM&F</option>
                  <option value="45">Transferência CCR</option>
                  <option value="46">Cessão de Crédito</option>
                  <option value="47">Convênio</option>
                  <option value="48">CRI</option>
                  <option value="49">Cessão Definitiva</option>
                  <option value="50">Cessão sem Trava</option>
                  <option value="51">Cessão de SWAP</option>
                  <option value="52">Assignment</option>
                  <option value="53">Mercantil</option>
                  <option value="55">Conta</option>
                  <option value="57">Previdência</option>
              </select>
              <input type="text" placeholder="% de Cobertura" mask= "000" suffix="%" required>
              <input type="text" placeholder="Valor" prefix="R$" mask="000.000,00">
              <label for="valoracao">Valoração Automática?</label>
              <input type="radio" name="valoracao" value="sim" required>Sim
              <input type="radio" name="valoracao" value="nao" required>Não
              <label for="valoracao" required>Walver?
                  <input type="radio" name="walver" value="sim" required>Sim
              </label>
              <input type="radio" name="walver" value="nao">Não
              <input type="text" placeholder="Suficiência" disabled>
              <div class="container buttons">
                  <button class="mb-0 btn btn-save">Prosseguir</button>
              </div>
          </form>
      </div>
  </div>
</div>
