<nav class="navbar navbar-expand-lg">
  <img src="../../assets/resources/itaulogo.png" class="mt-1 mb-1 me-2 ms-2">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <img src="../../assets/resources/menu.png" class="nav-link dropdown-toggle" href="#"
                      id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Garantia</a></li>
                      <li><a class="dropdown-item" href="#">Convênio</a></li>
                      <li><a class="dropdown-item" href="#">Reavaliação</a></li>
                      <li><a class="dropdown-item" href="#">Parametizações</a></li>
                  </ul>
              </li>
          </ul>
          <span class="portal">Portal de Garantias</span>
      </div>
  </div>
  <div class="user container-fluid justify-content-end">
      <img class="perfil" src="../../assets/resources/beyonce.png">
      <span class="me-4 ms-2">Beyoncé Giselle Knowles-Carter</span>
      <img src="../../assets/resources/logout.png" role="button">
  </div>
</nav>
