<!-- Dados do Penhor Agrícola -->

<div class="container">
  <div class="card">
      <div class="card-body">
          <h5 class="ms-0">Dados do Penhor Agrícola</h5>
            <form action= "#" method= "post">
              <label for="Tipo Agrícola">Tipo Agrícola:</label>
              <select name="Tipo Agrícola" id="Tipo Agrícola" required>
                  <option></option>
                  <option value="algodão">Algodão</option>
                  <option value="arroz">Arroz</option>
                  <option value="cafe">Café</option>
                  <option value="cana de açucar">Cana de açúcar</option>
                  <option value="feijão">Feijão</option>
                  <option value="laranja">Laranja</option>
                  <option value="maçã">Maçã</option>
                  <option value="milho">Milho</option>
                  <option value="soja">Soja</option>
                  <option value="trigo">Trigo</option>
                  <option value="uva">Uva</option>
                  <option value="figo">Figo</option>
                  <option value="outros">Outros</option>
                  </select>
                  <input type="text" placeholder="Safra" minlength="1" maxlength="10" required
                      onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                  <input type="text" placeholder="Quantidade" minlength="1" maxlength="10" required
                      onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                  <label for="colheita realizada" required>Colheita realizada:</label>
                  <input type="radio" name="coleita realizada" value="sim">Sim
                  <input type="radio" name="coleita realizada" value="nao">Não
                  <label for="Unidade de medida">Unidade de medida:</label>
                  <select name="Unidade de medida" id="Unidade de medida" required>
                      <option></option>
                      <option value="unidade">Unidade</option>
                      <option value="dezena">Dezena</option>
                      <option value="cento">Cento</option>
                      <option value="milheiro">Milheiro</option>
                      <option value="metro">Metro</option>
                      <option value="metro quadrado">Metro quadrado</option>
                      <option value="metro cubico">Metro cúbico</option>
                      <option value="litro">Litro</option>
                      <option value="galão">Galão</option>
                      <option value="dúzia">Dúzia</option>
                      <option value="meia dúzia">Meia dúzia</option>
                      <option value="kilo">Kilo</option>
                      <option value="tonelada bruta">Tonelada bruta</option>
                      <option value="tonelada">Tonelada</option>
                      <option value="caixa">Caixa</option>
                      <option value="conjunto">Conjunto</option>
                      <option value="bloco">Bloco</option>
                      <option value="grama">Grama</option>
                      <option value="folha">Folha</option>
                      <option value="frasco">Frasco</option>
                      <option value="kilometro">Kilometro</option>
                      <option value="viagem/percurso">Viagem/Percurso</option>
                      <option value="rolo">Rolo</option>
                      <option value="copia">Copia</option>
                      <option value="pacote">Pacote</option>
                      <option value="fardo">Fardo</option>
                  </select>
            </form>
  </div>
</div>
</div>

<!-- Dados do Penhor Agrícola -->

<!-- Localização da Propriedade -->

<div class="container">
  <div class="card">
      <div class="card-body">
          <h5>Localização da Propriedade</h5>
          <form action="#" method="post">
              <input id="nome" type="text" placeholder="Nome" minlength="2" maxlength="40"
                  title="Insira o nome da propriedade" required>
              <input id="endereço" type="text" placeholder="Endereço" minlength="5" maxlength="50"
                  title="Insira o endereço completo com o logradouro" required>
              <input id="bairro" type="text" placeholder="Bairro" required minlength="5" maxlength="30">
              <input id="cep" type="text" placeholder="CEP" minlength="8" mask="00000-000"
                  required>
              <input id="num" type="text" minlength="1" maxlength="5" placeholder="Número"
                  title="Insira o número da propriedade"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
              <input type="text" placeholder="Complemento">
              <input type="text" placeholder="Cidade" minlength="2" required>
              <label for="uf">UF:</label>
              <select name="uf" id="uf">
                  <option></option>
                  <option value="ro">RO</option>
                  <option value="ac">AC</option>
                  <option value="am">AM</option>
                  <option value="rr">RR</option>
                  <option value="pa">PA</option>
                  <option value="to">TO</option>
                  <option value="ma">MA</option>
                  <option value="pi">PI</option>
                  <option value="ce">CE</option>
                  <option value="rn">RN</option>
                  <option value="pb">PB</option>
                  <option value="pe">PE</option>
                  <option value="al">AL</option>
                  <option value="se">SE</option>
                  <option value="ba">BA</option>
                  <option value="mg">MG</option>
                  <option value="es">ES</option>
                  <option value="rj">RJ</option>
                  <option value="pr">PR</option>
                  <option value="sc">SC</option>
                  <option value="rs">RS</option>
                  <option value="ms">MS</option>
                  <option value="mt">MT</option>
                  <option value="go">GO</option>
                  <option value="df">DF</option>
              </select>
          </form>
      </div>
  </div>
</div>

<!-- Localização da Propriedade -->

<!-- Avaliação de bem -->

<div class="container">
  <div class="card">
      <div class="card-body">
          <h5>Avaliação de bem</h5>
          <form action="#" method="post">
              <label for="tipo de moeda">Tipo de moeda:</label>
              <select name="tipo de moeda" id="tipo de moeda" required>
                  <option></option>
                  <option value="ro">Real</option>
                  <option value="ac">Dólar</option>
                  <option value="am">Euro</option>
                  <option value="rr">Libra</option>
                  <option value="pb">Outros</option>
              </select>
              <input id="valor" type="text" placeholder="Valor de avaliação" prefix="R$"
                  mask="000.000,00" required>
              <label class="ms-2" for="date">Data da Avaliação:
                  <input type="date" required>
              </label>
              <label for="avaliação estimavel">O bem não possui avaliação ou não é possivel
                  estimar o seu
                  valor?</label>
              <input type="radio" name="colheita realizada" value="sim">Sim
              <input type="radio" name="colheita realizada" value="nao">Não
          </form>
      </div>
  </div>
</div>

<!-- Avaliação de bem -->

<!-- Dados do Seguro -->

<div class="container">
  <div class="card">
      <div class="card-body">
          <h5>Dados do Seguro</h5>
          <form action="#" method="post">
              <input type="text" placeholder="Número Apólice:" minlength="5" maxlength="30" required
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57" title="Insira um número válido"
                  required>
              <input type="text" placeholder="CNPJ Seguradora:" mask="00.000.000/0000-00"
                  required>
              <label class="ms-2" for="date">Data Início Val.:
                  <input type="date" required>
              </label>
              <label class="ms-2" for="date">Data Fim Val.:
                  <input type="date" required>
              </label>
          </form>
      </div>
  </div>
</div>

<!-- Dados do Seguro -->

<!-- Botões -->

<div class="container buttons">
  <button type="button" class="btn btn-return">Retornar</button>
  <button type="button" class="btn btn-save">Salvar</button>
</div>

<!-- Botões -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
